/* Titres et Logos : Italianno= font-family: 'Italianno', cursive; 

font-family: 'Italianno', cursive;*/

/* Sous titre, slogan, prix et liens de la navbar : Amiri italic 

font-family: 'Amiri', serif;*/

/* Tout le reste du texte : Maitree light
   
font-family: 'Maitree', serif; */   