/* Titres et Logos : Italianno= font-family: 'Italianno', cursive; 

font-family: 'Italianno', cursive;*/

/* Sous titre, slogan, prix et liens de la navbar : Amiri italic 

font-family: 'Amiri', serif;*/

/* Tout le reste du texte : Maitree light
   
font-family: 'Maitree', serif; */   

/*  HEADER SECTION FOND FOOTTER MAP NAV ET HAUT DU MAIN (NE PAS TOUCHER !!!) */

.conteneur{
    display: flex;
}

/* Header */

header{
    background-color: aqua;
    position: fixed;
    padding-bottom: 15%;
    margin-top: 0;
    width: 26%;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    border-right: solid black 3px;
    display: flex;
    flex-direction: column;
}


/* Header Logo */

.logo-titre{
    padding-left: 10%;
    background-color: white;
    margin-left: 4%;
    margin-right: 12%;
    padding-left: 2%;
    padding-bottom: 0.2%;
    margin-bottom: 10%;
    border: ridge black 2px;
    margin-top: 3%;
}

h1{
    font-family: 'Italianno', cursive;
    font-size: 150px;
    font-weight: 400;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 120px;
    margin-top: 3%;
    padding-top: 0;
}

h2{
    font-family: 'Amiri', serif;
    padding-top: 0;
    margin-top: 0;
    font-size: 50px;
    font-style: italic;
    margin-bottom: 2%;
    font-weight: 600;
}

/* HEADER NAV */

nav{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;;
}
ul{
    list-style-type: none;
    margin-top: 1%;
}

li{
   margin-bottom: 10%;
   font-family: 'Maitree', serif;
   font-size: 37px;
   font-weight: 700;
}

li a{
    text-decoration: none;
    color: #303030;
}

li a:hover{
    color: #0f0606;
}

/* HEADER MAP */

iframe{
    width: 70%;
    height: 13rem;
}

section iframe{
    padding-left: 7%;
    padding-top: 3%;
}

/* HEADER RESEAU SOCIAUX*/

.reseau-social{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-right: 5%;
}

.insta img{
    width: 50px;
    height: 50px;
}

.fb img{
    width: 50px;
    height: 50px;
}

.tw img{
    width: 50px;
    height: 50px;
}



/* MAIN */
main{
    margin-left: 26.22%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
}

main img{
    width: 100%;
}

/* MAIN CHOSE*/

.chose {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    border-bottom: black solid 2px;
    margin: 0;
    padding-right: 10%;
}

.chose img{
    width: 40px;
    height: 40px;
    margin-top: 0;
    padding-bottom: 10px;
    margin-right: 0;
    padding-left: 0;
    padding-top: 15%;
}

#barre-recherce{
    padding-right: 50%;
    height: 30px;
    margin-top: 1.3%;
    border: solid black 1px;
}

::placeholder {
    width: 300px;
  }

.compte{
    margin-left: 170%;
    padding-top: 10%;
}

/* FOOTER */

footer{
    text-align: center;
}

/* SECTION MIDDLE DEBUT*/
/* commencer votre code ici */

.contact{
    font-size: 60px;
   margin-left: 60px;
   padding-top: 10px;
   
}

.phrase1{
    font-size: 15px;
    margin-left: 60px;
    margin-bottom: 1%;
    font-family: 'Maitree', serif;
    
}

.phrase2{
    font-size: 15px;
    margin-left: 60px;
   margin-bottom: 1%;
    font-family: 'Maitree', serif;
}

.pucegera{
    font-size: 15px;
    margin-left: 60px;
    font-family: 'Maitree', serif;
    list-style-type: initial;
    margin-bottom: 1%;
    font-weight: lighter;

}
.tel{
    width: 90px;
    margin-left: 60px;
    text-align: center;
}
h4{
    font-size: 25px;
    margin-left: 60px;
    padding-top: 10px;
}

.cadre1{
background-color: rgb(182, 244, 220);
text-align: center;
font-family: 'Maitree', serif;
margin-left: 100px;
margin-right: 700px;
border-style: ridge;
border-radius: 10px;
border-width: 7px;
border-color: rgb(251, 217, 205);
background-image: linear-gradient(rgb(255, 255, 255), rgb(227, 213, 174));
}


.ducs{
    font-size:35px;
}

.relation{
    font-size: 18px;
    text-align: center;
}

.tel2{
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
}

.cadre2{
    font-family: 'Maitree', serif;
    margin-left: 100px;
margin-right: 700px; 
    background-color: white;
    margin-top: 50px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 7px;
    border-color: rgb(251, 217, 205);
    background-image: linear-gradient(rgb(255, 255, 255), rgb(227, 213, 174));

}

.ducs2{
    font-size: 30px;
    font-weight: bolder;
}

.reseau{
   font-size: 20px;
   font-weight: bolder;
}

.internet{
    font-family: 'Maitree', serif;
    margin-left: 100px;
margin-right: 700px;
    background-color: white; 
    font-size: 30px;
    font-weight: bolder;
    border-style: ridge;
    border-radius: 10px;
border-width: 7px;
border-color: rgb(251, 217, 205);
background-image: linear-gradient(rgb(255, 255, 255), rgb(227, 213, 174));


}
.ducs3{
    font-size: 30px;

}

.silhouette{
   width: 300px;
   
}
/* SECTION MIDDLE FIN */